<div class="container">
    <div class="row">
        {% for service in services %}
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-4" data-aos="zoom-in"
             data-aos-delay="{{ forloop.counter0|add:100 }}">
            <div class="icon-box">
                <div class="icon"><i class="{{ service.logo }}"></i></div>
                <h2><a href="">{{ service.title }}</a></h2>
                <p>{{ service.service_text }}</p>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
